@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="content">
    <h1> <a>ONLINE COURCES</a></h1>
</div>
<div class="content2">
    <p>
        Enjoy the learning from whereever you are
    </p>
</div>

 <div class="container">
    <div class="box1">
       <div class="book">
            <img src="~/images/book.jpg" />
            <a class="bkk ">book</a>
       </div>
       <div class="book1">
            <h2>
                Stem Reading & Wrighting
            </h2>
            <p>
                Grade 1-8. Carefully selected non-fiction topics will engage
                students in a wide range of activities of science inquiring, reading,
                writing and talking. Students start from reading in the areas of science,
                technology, engineering, and math (STEM) topics and then get familiar with scientific
                report and TED style presenting
            </p>
           
               
        </div>
       </div>
    <div class="box2">
        <div class="book">
			<img src="~/images/latu.jpg" />
            <a class="bkk2">book</a>
        </div>
        <div class="book1">
            <h2>
                Stem Math
            </h2>
            <p>
                Designed for students who are interested in connecting math with
                applications and not of afraid advanced mathematical problems. Our experienced 
                instructor guides students through examples and problems in the areas of physics,
                biology and computer Science underlining mathematics principles
            </p>
    </div>
</div>
</div>




    <div class="container2">
        <div class="box3">
            <div class="lang">
			<img src="~/images/lang.jpg" />
            <a class="bkk3">book</a>
            </div>
            <div class="lang1">
                <h2>
                    Python coding
                    
                </h2>
                <p>
                    Grade 1-8. The coding program covers programming language from 
                    Scratch, Python, C++, to Java. The main goal of the course is to
                    guide students from a state of complete programming illiteracy to a
                    level of programming knowledge which allows students to design, write, debug,
                    and run programs in a competitive computing setting.
                </p>
            </div>
        </div>
        <div class="box4">
            <div class="lang">
				<img src="~/images/robo.jpg" />
            <a class="bkk4">book</a>
            </div>
            <div class="lang1">
                <h2>
                    Stem creator
                </h2>
                <p>
                    The program is for those who have graduated our regular classes
                    and are interested in inventive and creative design of applications
                    MORE than ever before. Students need to purchase their own DIY kit
                </p>
            </div>
        </div>
    </div>

    <div class="days">
         <div class="heading2">
           <h1> Schedule</h1>
         </div>
      <div class="timming">
        <div class="time">
        <h2>
                Wednesday<br/>
                3:00PM - 4:00PM<br />
                4:00PM - 5:00PM<br />
                5:00PM - 6:00PM<br />
        </h2>
    </div>

    <div class="time">
        <h2>
                Friday<br />
                3:00PM - 4:00PM<br />
                4:00PM - 5:00PM<br />
                5:00PM - 6:00PM<br />
        </h2>
    </div>
        <div class="time">
            <h2>
                Saturday<br />
                10:00AM - 11:00AM<br />
                11:00AM - 12:00PM<br />
                1:00PM - 2:00PM<br />
                2:00PM - 3:00PM<br />
                3:00PM - 4:00PM<br />
                4:00PM - 5:00PM<br />
            </h2>
        </div>
    </div>
 </div>
    





